
html {
scroll-snap-type: y mandatory;
}

section {
display: flex;
justify-content: center;
align-items: center;
position: relative;
scroll-snap-align: center;

}

section > div {
position: relative;
overflow: hidden;
}





