

.skillscard{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    background-color: rgba(116, 116, 116, 0.5);
    width: 30em ;
    height: 22em;
    margin-right: 2em;
    margin-left: 2em;
    border-radius: 20px;
    box-shadow: 3px 12px 22px rgba(0,0,0,.5);
    opacity: 90%;
}

.skillscard h1{
    align-self: center;
    text-align: center;
    border-bottom: 2px solid greenyellow;
    border-radius: 0.5em;
    width: 80%;
    padding-bottom: 0.5em;
    font-family: FuturaHeavi;
}

.skillscard img{
    display: flex;
    justify-content: center;
    width: 4em;
    height: 4em;
    align-items: center;
}

.skillscard p{
    display: flex;
    justify-content: center;
    font-size: 0.8vw;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5%;
    letter-spacing: 0.07em;
}

.containerskill{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center ;
    min-height: 100vh;
    min-width: 100vw;
}
.containerskill div:nth-child(2){
    width: 35em;
}
.lista{
    flex-wrap: wrap;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.containerskills{
    min-height: 100vh;
    min-width: 100vw;
}

.lista li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 4;
}


.skillscard:nth-child(1) .lista li{
    flex-grow: 0;
    width: 40%;
}

.skillscard:nth-child(2) .lista li{
    width: 20%;
    margin: 1.5%;
}

.skillscard:nth-child(3) .lista li{
    
    width: 30%;
    
}

@media screen and (max-width: 900px) {
    .containerskill{
        flex-direction: column;
    }
    .skillscard{
        width: 80%;
        height: auto;
    }
    .containerskill div:nth-child(2){
        width: 80%;
    }
    .skillscard img{
        display: flex;
        justify-content: center;
        width: 3em;
        height: 3em;
        align-items: center;
    }
    .skillscard h1{
        font-size: 1.2em;
    }
    .skillscard p{
        display: none;
        
    }
}